<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="BS:BargainsEndPoint" value="https://webbedsdevtest.azurewebsites.net"/>
        <add key="BS:BargainsUserCode" value="aWH1EX7ladA8C/oWJX5nVLoEa4XKz2a64yaWVvzioNYcEo8Le8caJw=="/>
      
        <add key="BS:CacheMinutes" value="1"/>
    </appSettings>
</configuration>
